/* Navbar styling. */


#navbar-container {
  .navbar .animation-controlls .btn.btn-raised {
    border-radius: 20px;
    padding: 10px 14px;
  }
  .navbar .animation-controlls .btn.btn-raised.btn-danger {
      left: -1px;
  }
  .navbar .animation-controlls .btn.btn-raised.btn-warning {
      background-color: #ec971f;
  }
  @media (max-width: 767px) {
    .animation-controlls button {
      margin-top: 4px;
    }
  }
  @media (min-width: 768px) {
    .navbar, .navbar button {
      margin-top: 0;
    }
    .navbar .navbar-form {
      margin: 5px 0 -5px 0;
    }
  }
  @media (min-width: 1200px) {
    .navbar .navbar-form {
      margin: 7px 0 -7px 0;
    }
  }
}
