/* Navbar styling. */


#navbar-container {
  .navbar.navbar-default {
    background-color: #007A6F;
  }
  .navbar .animation-controlls .btn.btn-raised .glyphicon {
      left: -6px;
  }
  .navbar-brand {
    font-size: 1.7em;
    color: white;
    font-weight: 400;
  }
  .navbar-nav {
    font-size: 1.1em;
    color: white;
    font-weight: 400;
  }
  .navbar .animation-controlls .btn.btn-raised.btn-danger .glyphicon {
      left: -7px;
  }
  .navbar .animation-controlls .btn.btn-raised.btn-warning {
      background-color: #ec971f;
  }
  .navbar .animation-controlls .btn.disabled {
    pointer-events:none;
    background-color: #666;
  }
  .navbar-default .navbar-nav>li>a {
    font-size: 11pt;
  }
  @media (max-width: 767px) {
    .animation-controlls button {
      margin-top: 4px;
    }
  }
  @media (min-width: 768px) {
    .navbar, .navbar button {
      margin-top: 0;
    }
    .navbar .navbar-form {
      margin: 5px 0 -5px 0;
    }
  }
  @media (min-width: 1200px) {
    .navbar .navbar-form {
      margin: 7px 0 -7px 0;
    }
  }
}
