html, body, #fullheight {
  min-height: 100% !important;
  height: 100%;
}

#blocklyDiv {
  padding: 0px;
  position: relative !important;
}

#content-blocks svg {
  width: 100%;
  height: 100%;
  overflow: visible!important;
}

#content-blocks svg .blocklyMainBackground {
  stroke: #fff;
}

#screen canvas {
  /* margin: auto;*/
  /* disable scaling interpolation */
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  width: 100%;
}


/************************************/
/*  Blocks, Arduino, and XML areas  */
/************************************/
.content {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
}

#blocks-panel {
  padding: 0px;
  position: relative !important;
  padding-right: 15px;
  margin-bottom: 5px;
}

#content-blocks {
  margin: 0;
  padding: 0;
  min-height: 480px;
  height: -moz-calc(100vh - 190px);     /* Firefox  */
  height: -webkit-calc(100vh - 190px);  /* WebKit   */
  height: -o-calc(100vh - 190px);       /* Opera    */
  height: calc(100vh - 190px);          /* Standard */
}

.blocks-panel-large {
  height: -moz-calc(100vh - 190px);     /* Firefox  */
  height: -webkit-calc(100vh - 190px);  /* WebKit   */
  height: -o-calc(100vh - 190px);       /* Opera    */
  height: calc(100vh - 190px);          /* Standard */
}
.blocks-panel-small {
  height: -moz-calc(100vh - 350px);     /* Firefox  */
  height: -webkit-calc(100vh - 350px);  /* WebKit   */
  height: -o-calc(100vh - 350px);       /* Opera    */
  height: calc(100vh - 350px);          /* Standard */
}