@import 'bootstrap';
@import 'variables';
@import 'mixins';

/**
 * General layout
 */

html {
  height: 100%;
  @include main-background;
  
  body {
    height: 100%;
    @include main-background;
    
    div#page-wrapper {
      height: 100%;
      @include main-background;
    }
  }
}
