<div id="blockly-container">
  <div id="blockly-panel" class="panel panel-default">
    <div id="blockly-panel-body" class="panel-body">
      <div id="blockly-div"></div>
    </div>
  </div>
  <div id="blockly-toolbox-wrapper"> {{> blockly-toolbox }} </div>
  <div id="hidden-file-input-wrapper"><input type="file" id="hidden-file-input"></div>
</div>