{{#extend "modal-layout"}}
 {{#content "title"}} Configuraciones {{/content}}
 {{#content "body"}}
    <div class="togglebutton">
      <label style="color:black; font-weight: 300;">
        <input type="checkbox" id="sensor_hud_checkbox">Modo de visualización de sensores
      </label>
    </div>
 {{/content}}
{{/extend}}