<div id="home-container" class="container-fluid">
  <div id="home-header" class="row">
    <div id="home-navbar-wrapper"> {{> navbar }} </div>
  </div>
  <div id="home-content" class="row content-expanded">
    <div id="home-simulator-wrapper"> {{> simulator }} </div>
    <div id="home-blockly-wrapper"> {{> blockly }} </div>
  </div>
  <div id="maps-modal-wrapper">{{> maps-modal }}</div>
  <div id="home-config-wrapper">{{> config-modal }}</div>
  <div id="download-code-modal-wrapper"> {{> file-download-modal title="Guardar código Arduino" }} </div>
  <div id="export-code-modal-wrapper"> {{> file-download-modal title="Exportar código Arduino" }} </div>
</div>
