@import 'variables';
@import 'mixins';

/**
 * Blockly styles
 */

#blockly-container {
  height: 100%;

  #blockly-panel {
    height: 100%;
    @include home-panel;

    #blockly-panel-body {
      height: 100%;
      position: relative;

      #blockly-div {
        @include center-in-parent;
      }
    }
  }
  
  #blockly-toolbox-wrapper {
    display: none;
  }
}
