@import 'variables';
@import 'mixins';

/**
 * Simulator styles
 */

#simulator-container {
  height: 100%;

  #simulator-panel {
    height: 100%;
    @include home-panel;

    #simulator-panel-body {
      height: 100%;
      position: relative;
      
      #simulator-screen {
        @include center-in-parent;
        
        canvas {
        }
      }
    }
  }
}

#maps-modal {
  display: none;
}
