@import 'variables';
@import 'mixins';

/**
 * Simulator styles
 */

#simulator-container {
  min-height: $min-simulator-height;
  
  #melonjs-screen {
    canvas {
      /* margin: auto;*/
      /* disable scaling interpolation */
      image-rendering: optimizeSpeed;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: optimize-contrast;
      -ms-interpolation-mode: nearest-neighbor;
      width: 80%;
    }
  }
}
