@import 'variables';
@import 'mixins';

/**
 * Home page layout
 */

#home-container {
  @include full-height;
  @include no-margin-no-padding;
  #home-header {
    @include no-margin-no-padding;
    #home-navbar-wrapper {
      @include no-margin-no-padding;
    }
  }
  #home-content {
    @include no-margin-no-padding;
    #home-blockly-wrapper {
    }
    #home-simulator-wrapper {
    }
  }
}

#home-container .blocky-workarea,
#home-container .drawing-area {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24), 0 2px 10px 0 rgba(0, 0, 0, 0.18);
  margin-top: 40px;
  height: -moz-calc(100vh - 200px);     /* Firefox  */
  height: -webkit-calc(100vh - 200px);  /* WebKit   */
  height: -o-calc(100vh - 200px);       /* Opera    */
  height: calc(100vh - 200px);          /* Standard */
}

/*#home-container .blocky-workarea {
  position: relative;
  margin-right: 15px;
  z-index: 0;
}
#home-container .drawing-area {
  margin-left: 15px;
  background-color: #fff;
  text-align: center;
}
#home-container .drawing-area #screen {
  width: 100%;
  margin: 0 auto 0;
  vertical-align: middle;
} 
#home-container .drawing-area #screen canvas {
  border: 3px solid #666;
}

@media (max-width: 992px) {
    #home-container .drawing-area {
      width: 200px;
      height: 180px;
      position: absolute;
      z-index: 1000;
      margin: 0;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    #home-container .drawing-area #screen {
      padding: 10px!important;
    }
    #home-container .drawing-area #screen canvas {
      width: 100%;
    }
    #home-container .drawing-area #screen canvas {
      border: 0;
    }
}
*/
