@import 'variables';
@import 'mixins';

/**
 * Home page layout
 */

#home-container {
  @include full-height;
  @include no-margin-no-padding;
  
  #home-header {
    margin: 0px 0px 40px 0px;
    padding: 0px 0px;

    #home-navbar-wrapper {
      @include no-margin-no-padding;
    }
  }
  #home-content {
    margin: 0px 15px;
    padding: 0px 0px;
    
    #home-blockly-wrapper {
    }
    #home-simulator-wrapper {
    }
  }
}

/*#home-container .blocky-workarea {
  position: relative;
  margin-right: 15px;
  z-index: 0;
}
#home-container .drawing-area {
  margin-left: 15px;
  background-color: #fff;
  text-align: center;
}
#home-container .drawing-area #screen {
  width: 100%;
  margin: 0 auto 0;
  vertical-align: middle;
} 
#home-container .drawing-area #screen canvas {
  border: 3px solid #666;
}

@media (max-width: 992px) {
    #home-container .drawing-area {
      width: 200px;
      height: 180px;
      position: absolute;
      z-index: 1000;
      margin: 0;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    #home-container .drawing-area #screen {
      padding: 10px!important;
    }
    #home-container .drawing-area #screen canvas {
      width: 100%;
    }
    #home-container .drawing-area #screen canvas {
      border: 0;
    }
}
*/
