@import 'bootstrap';

#state-indicator {
  position: absolute;
  top: -999em;
  left: -999em;
}

@media (max-width: $screen-xs-max) {
  #state-indicator:before { content: 'xs'; }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #state-indicator:before { content: 'sm'; }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #state-indicator:before { content: 'md'; }
}
@media (min-width: $screen-lg-min) {
  #state-indicator:before { content: 'lg'; }
}
